src/Simulator/Simulator/Service References/LicensingServiceReference/LicensingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LicensingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ILicensingService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://cshtml5myaccount.azurewebsites.net/LicensingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://cshtml5myaccount.azurewebsites.net/LicensingService.svc?xsd=xsd1" namespace="http://microsoft.com/wsdl/types/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILicensingService_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_LogOut_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOut" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_LogOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogOutResponse" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_GetCurrentUserInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentUserInformation" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_GetCurrentUserInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentUserInformationResponse" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_ModifyCurrentUserInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyCurrentUserInformation" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_ModifyCurrentUserInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyCurrentUserInformationResponse" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_GetKeys_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKeys" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_GetKeys_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKeysResponse" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_DeactivateKey_InputMessage">
    <wsdl:part name="parameters" element="tns:DeactivateKey" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_DeactivateKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeactivateKeyResponse" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_ActivateKey_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivateKey" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_ActivateKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivateKeyResponse" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_ActivateKey_V2_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivateKey_V2" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_ActivateKey_V2_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivateKey_V2Response" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_CheckLicenseValidity_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckLicenseValidity" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_CheckLicenseValidity_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckLicenseValidityResponse" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_GetTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactions" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_GetTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_HandlePasswordForgotten_InputMessage">
    <wsdl:part name="parameters" element="tns:HandlePasswordForgotten" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_HandlePasswordForgotten_OutputMessage">
    <wsdl:part name="parameters" element="tns:HandlePasswordForgottenResponse" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_AdminGetListOfUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminGetListOfUsers" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_AdminGetListOfUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminGetListOfUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_AdminUpdatePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminUpdatePassword" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_AdminUpdatePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminUpdatePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_AdminEditUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminEditUser" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_AdminEditUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminEditUserResponse" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_AdminCreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminCreateUser" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_AdminCreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminCreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_AdminGetKeys_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminGetKeys" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_AdminGetKeys_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminGetKeysResponse" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_AdminGetTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminGetTransactions" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_AdminGetTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminGetTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_AdminDeactivateKey_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminDeactivateKey" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_AdminDeactivateKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminDeactivateKeyResponse" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_AdminCreateKey_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminCreateKey" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_AdminCreateKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminCreateKeyResponse" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_AdminEditKey_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminEditKey" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_AdminEditKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminEditKeyResponse" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_AdminGetActivityLogs_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminGetActivityLogs" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_AdminGetActivityLogs_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminGetActivityLogsResponse" />
  </wsdl:message>
  <wsdl:portType name="ILicensingService">
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicensingService/LogIn" message="tns:ILicensingService_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicensingService/LogInResponse" message="tns:ILicensingService_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicensingService/LogOut" message="tns:ILicensingService_LogOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicensingService/LogOutResponse" message="tns:ILicensingService_LogOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentUserInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicensingService/GetCurrentUserInformation" message="tns:ILicensingService_GetCurrentUserInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicensingService/GetCurrentUserInformationResponse" message="tns:ILicensingService_GetCurrentUserInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyCurrentUserInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicensingService/ModifyCurrentUserInformation" message="tns:ILicensingService_ModifyCurrentUserInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicensingService/ModifyCurrentUserInformationResponse" message="tns:ILicensingService_ModifyCurrentUserInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicensingService/ChangePassword" message="tns:ILicensingService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicensingService/ChangePasswordResponse" message="tns:ILicensingService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKeys">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicensingService/GetKeys" message="tns:ILicensingService_GetKeys_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicensingService/GetKeysResponse" message="tns:ILicensingService_GetKeys_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeactivateKey">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicensingService/DeactivateKey" message="tns:ILicensingService_DeactivateKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicensingService/DeactivateKeyResponse" message="tns:ILicensingService_DeactivateKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivateKey">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicensingService/ActivateKey" message="tns:ILicensingService_ActivateKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicensingService/ActivateKeyResponse" message="tns:ILicensingService_ActivateKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivateKey_V2">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicensingService/ActivateKey_V2" message="tns:ILicensingService_ActivateKey_V2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicensingService/ActivateKey_V2Response" message="tns:ILicensingService_ActivateKey_V2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckLicenseValidity">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicensingService/CheckLicenseValidity" message="tns:ILicensingService_CheckLicenseValidity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicensingService/CheckLicenseValidityResponse" message="tns:ILicensingService_CheckLicenseValidity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicensingService/GetTransactions" message="tns:ILicensingService_GetTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicensingService/GetTransactionsResponse" message="tns:ILicensingService_GetTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HandlePasswordForgotten">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicensingService/HandlePasswordForgotten" message="tns:ILicensingService_HandlePasswordForgotten_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicensingService/HandlePasswordForgottenResponse" message="tns:ILicensingService_HandlePasswordForgotten_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminGetListOfUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicensingService/AdminGetListOfUsers" message="tns:ILicensingService_AdminGetListOfUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicensingService/AdminGetListOfUsersResponse" message="tns:ILicensingService_AdminGetListOfUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminUpdatePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicensingService/AdminUpdatePassword" message="tns:ILicensingService_AdminUpdatePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicensingService/AdminUpdatePasswordResponse" message="tns:ILicensingService_AdminUpdatePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminEditUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicensingService/AdminEditUser" message="tns:ILicensingService_AdminEditUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicensingService/AdminEditUserResponse" message="tns:ILicensingService_AdminEditUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminCreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicensingService/AdminCreateUser" message="tns:ILicensingService_AdminCreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicensingService/AdminCreateUserResponse" message="tns:ILicensingService_AdminCreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminGetKeys">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicensingService/AdminGetKeys" message="tns:ILicensingService_AdminGetKeys_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicensingService/AdminGetKeysResponse" message="tns:ILicensingService_AdminGetKeys_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminGetTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicensingService/AdminGetTransactions" message="tns:ILicensingService_AdminGetTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicensingService/AdminGetTransactionsResponse" message="tns:ILicensingService_AdminGetTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminDeactivateKey">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicensingService/AdminDeactivateKey" message="tns:ILicensingService_AdminDeactivateKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicensingService/AdminDeactivateKeyResponse" message="tns:ILicensingService_AdminDeactivateKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminCreateKey">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicensingService/AdminCreateKey" message="tns:ILicensingService_AdminCreateKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicensingService/AdminCreateKeyResponse" message="tns:ILicensingService_AdminCreateKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminEditKey">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicensingService/AdminEditKey" message="tns:ILicensingService_AdminEditKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicensingService/AdminEditKeyResponse" message="tns:ILicensingService_AdminEditKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminGetActivityLogs">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicensingService/AdminGetActivityLogs" message="tns:ILicensingService_AdminGetActivityLogs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicensingService/AdminGetActivityLogsResponse" message="tns:ILicensingService_AdminGetActivityLogs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpsBinding_ILicensingService" type="tns:ILicensingService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ILicensingService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://tempuri.org/ILicensingService/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap:operation soapAction="http://tempuri.org/ILicensingService/LogOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentUserInformation">
      <soap:operation soapAction="http://tempuri.org/ILicensingService/GetCurrentUserInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyCurrentUserInformation">
      <soap:operation soapAction="http://tempuri.org/ILicensingService/ModifyCurrentUserInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/ILicensingService/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKeys">
      <soap:operation soapAction="http://tempuri.org/ILicensingService/GetKeys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeactivateKey">
      <soap:operation soapAction="http://tempuri.org/ILicensingService/DeactivateKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateKey">
      <soap:operation soapAction="http://tempuri.org/ILicensingService/ActivateKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateKey_V2">
      <soap:operation soapAction="http://tempuri.org/ILicensingService/ActivateKey_V2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLicenseValidity">
      <soap:operation soapAction="http://tempuri.org/ILicensingService/CheckLicenseValidity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactions">
      <soap:operation soapAction="http://tempuri.org/ILicensingService/GetTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HandlePasswordForgotten">
      <soap:operation soapAction="http://tempuri.org/ILicensingService/HandlePasswordForgotten" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminGetListOfUsers">
      <soap:operation soapAction="http://tempuri.org/ILicensingService/AdminGetListOfUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminUpdatePassword">
      <soap:operation soapAction="http://tempuri.org/ILicensingService/AdminUpdatePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminEditUser">
      <soap:operation soapAction="http://tempuri.org/ILicensingService/AdminEditUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminCreateUser">
      <soap:operation soapAction="http://tempuri.org/ILicensingService/AdminCreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminGetKeys">
      <soap:operation soapAction="http://tempuri.org/ILicensingService/AdminGetKeys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminGetTransactions">
      <soap:operation soapAction="http://tempuri.org/ILicensingService/AdminGetTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminDeactivateKey">
      <soap:operation soapAction="http://tempuri.org/ILicensingService/AdminDeactivateKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminCreateKey">
      <soap:operation soapAction="http://tempuri.org/ILicensingService/AdminCreateKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminEditKey">
      <soap:operation soapAction="http://tempuri.org/ILicensingService/AdminEditKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminGetActivityLogs">
      <soap:operation soapAction="http://tempuri.org/ILicensingService/AdminGetActivityLogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LicensingService">
    <wsdl:port name="BasicHttpsBinding_ILicensingService" binding="tns:BasicHttpsBinding_ILicensingService">
      <soap:address location="https://cshtml5myaccount.azurewebsites.net/LicensingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>