src/Simulator/Simulator/Service References/LicensingServiceReference/LicensingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://cshtml5myaccount.azurewebsites.net/LicensingService.svc?xsd=xsd1" namespace="http://microsoft.com/wsdl/types/" />
  <xs:element name="LogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="password" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="LogInResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="sessionGuid" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOutResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetCurrentUserInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="sessionGuid" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentUserInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetCurrentUserInformationResult" type="tns:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Email" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LastName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CreationDate" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LastLoginDate" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="DateOfBirth" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Country" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Company" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Phone" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Comments" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsNewsLetterWanted" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModifyCurrentUserInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="user" type="tns:User" />
        <xs:element minOccurs="0" maxOccurs="1" name="sessionGuid" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyCurrentUserInformationResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="oldPassword" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="newPassword" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="sessionGuid" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="sessionGuid" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetKeysResult" type="tns:ArrayOfLicenseKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfLicenseKey">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LicenseKey" nillable="true" type="tns:LicenseKey" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LicenseKey">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="UserGuid" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Key" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsActivated" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsProfessionalEdition" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsSlMigrationEdition" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsEnterpriseEdition" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsSubscription" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="LastActivationComputerName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LastActivationDate" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RawFreeUpdatesUntil" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RawSubscriptionValidUntil" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="NbOfMonthsPaidSoFar" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SubscriptionID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RawPurchaseDetails" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PaymentTransactionId" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PaymentGross" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PaymentCurrency" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RawPaymentDate" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeactivateKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="keyID" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="DeactivateKeyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="keyGuid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="featureID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="computerName" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="versionOnComputerReleaseDate" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ActivateKeyResult" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActivateKey_V2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="keyGuid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="featureID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="computerName" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="versionOnComputerReleaseDate" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateKey_V2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ActivateKey_V2Result" type="tns:KeyActivationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="KeyActivationResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="KeyFeatures" type="tns:ArrayOfString" />
      <xs:element minOccurs="1" maxOccurs="1" name="ValidityLimit" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckLicenseValidity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://microsoft.com/wsdl/types/" minOccurs="1" maxOccurs="1" name="keyGuid" type="q1:guid" />
        <xs:element minOccurs="0" maxOccurs="1" name="computerName" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="versionOnComputerReleaseDate" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLicenseValidityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CheckLicenseValidityResult" type="tns:KeyValidity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="KeyValidity">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="State" type="tns:KeyState" />
      <xs:element minOccurs="1" maxOccurs="1" name="ValidityLimit" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="Message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="KeyState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Valid" />
      <xs:enumeration value="Expired" />
      <xs:enumeration value="AlmostExpired" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GetTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="sessionGuid" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetTransactionsResult" type="tns:ArrayOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="RawDate" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FriendlyDescription" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="InvoiceAddress" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HandlePasswordForgotten">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="email" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandlePasswordForgottenResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="AdminGetListOfUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="sessionGuid" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminGetListOfUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="AdminGetListOfUsersResult" type="tns:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdminUpdatePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="sessionGuid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="userEmail" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="newPassword" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminUpdatePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="AdminUpdatePasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminEditUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="sessionGuid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="formerEmailAddress" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="user" type="tns:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminEditUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="AdminEditUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminCreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="sessionGuid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="user" type="tns:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminCreateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="AdminCreateUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminGetKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="sessionGuid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="userEmail" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminGetKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="AdminGetKeysResult" type="tns:ArrayOfLicenseKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminGetTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="sessionGuid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="userEmail" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminGetTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="AdminGetTransactionsResult" type="tns:ArrayOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminDeactivateKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="sessionGuid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="key" type="tns:LicenseKey" />
        <xs:element minOccurs="0" maxOccurs="1" name="userEmail" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminDeactivateKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="AdminDeactivateKeyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminCreateKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="sessionGuid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="user" type="tns:User" />
        <xs:element minOccurs="0" maxOccurs="1" name="key" type="tns:LicenseKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminCreateKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="AdminCreateKeyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminEditKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="sessionGuid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="formerKey" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="user" type="tns:User" />
        <xs:element minOccurs="0" maxOccurs="1" name="key" type="tns:LicenseKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminEditKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="AdminEditKeyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminGetActivityLogs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="sessionGuid" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminGetActivityLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="AdminGetActivityLogsResult" type="tns:ArrayOfActivityLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfActivityLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActivityLog" nillable="true" type="tns:ActivityLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActivityLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Date" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UserName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Email" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>